/* archivo styles.css */
.social-buttons {
	display: flex;
	justify-content: flex-end;
	bottom: 20px;
	right: 20px;
	padding-left: 1rem;
}

.social-buttons a {
	margin-left: 2rem;
}
.social-buttons .btn {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}
.gradientInstagram {
	background: #833ab4;
	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
